# Práctica 2

 ## 1. Creaci´on de DataFrames

In [16]:
import pandas as pd
import numpy as np

(a) Crea un DataFrame df1 con una columna llamada numeros que contenga los
 valores del 0 al 19

In [37]:
df1 = pd.DataFrame(
    {"Col1":np.arange(20)})

df1.tail(3)

    Col1
17    17
18    18
19    19

(b) Crea un DataFrame df2 con una columna aleatorios de tama˜no 10 con
 n´umeros aleatorios entre 0 y 1

In [40]:
np.random.seed(1)

df2 = pd.DataFrame(
    {"Col1":np.random.random(10)})

df2

       Col1
0  0.417022
1  0.720324
2  0.000114
3  0.302333
4  0.146756
5  0.092339
6  0.186260
7  0.345561
8  0.396767
9  0.538817

 (c) Combina los DataFrames anteriores df1 y df2 en un nuevo DataFrame llamado
 df3.

In [55]:
df3 = pd.concat([df1,df2]) #Los junta en la misma columna ya que en ambos era "Col1"
df3 = df3.reset_index()
df3

    index       Col1
0       0   0.000000
1       1   1.000000
2       2   2.000000
3       3   3.000000
4       4   4.000000
5       5   5.000000
6       6   6.000000
7       7   7.000000
8       8   8.000000
9       9   9.000000
10     10  10.000000
11     11  11.000000
12     12  12.000000
13     13  13.000000
14     14  14.000000
15     15  15.000000
16     16  16.000000
17     17  17.000000
18     18  18.000000
19     19  19.000000
20      0   0.417022
21      1   0.720324
22      2   0.000114
23      3   0.302333
24      4   0.146756
25      5   0.092339
26      6   0.186260
27      7   0.345561
28      8   0.396767
29      9   0.538817

 (d) Guarda el DataFrame df3 en un fichero .csv.

In [61]:
df3.to_csv('data/df3_file.csv')

## 2. Indexaci´onyselecci´on(10pts)

In [81]:
import pandas as pd

df =pd.DataFrame({
 "A": range(1, 11),
 "B": [5,3,6,8,2,9,1,7,4,10]
  })
df

    A   B
0   1   5
1   2   3
2   3   6
3   4   8
4   5   2
5   6   9
6   7   1
7   8   7
8   9   4
9  10  10

(a) Seleccionalas filas donde el valor de la columna B sea mayor que 5

In [79]:
df[df["B"]>5]

    A   B
2   3   6
3   4   8
5   6   9
7   8   7
9  10  10

(b)Cambia los valores menores que 4 en la columna B a NaN.
Para usar el valor NaN hay que utilizare el código pd.NA.

In [120]:
df.loc[df["B"]<4,["B"]]=pd.NA #Modifica el df original

In [122]:
df

    A     B
0   1   5.0
1   2   NaN
2   3   6.0
3   4   8.0
4   5   NaN
5   6   9.0
6   7   NaN
7   8   7.0
8   9   4.0
9  10  10.0

## 3.An´alisisdeDatos

In [130]:
import pandas as pd

df = pd.read_csv("data/winequality-red.csv", delimiter=";") #Falta establecer ; como separador
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

 (a)Obt´en los estad´ısticos descriptivos m´as relevantes (describe) de cada columna.
 Explica brevemente qu´e mide cada una de ellas.

In [134]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

Tenemos los estadísticos descriptivos de cada columna. Count mide el número de observaciones por columna (número de filas), Mean es la media de los valores (el promedio) y std la desviación estándar. Min y Max miden el máximo y el mínimo valor respectivamente. 25%, 50%, 75% representan percentiles, es decir, muestran los valores los cuales tienen a su izquierda, es decir como valores menores, el 25, 50 y 70 porciento del resto de valores.